a
{
    text-decoration: none;
}
li
{
    list-style-type: none;
}
div
{
    display: flex;
    align-items: center;
}
span
{
    margin-left: 10px;
}
.country-flag
{
    margin-right: 5px;
    padding-left: 5px;
}
.country-flag-image
{
    padding-left: 15px;
}
.country-link
{
    display: flex;
    align-items: center;
}
.country-image
{
    padding-left: 40px;
}
.country-label
{
    margin-right: 10px;
    padding-left: 20px;
}
.country-article
{
    display: flex;
    align-items: center;
}